.triggerWrapper {
  display: inline-flex;
  flex-direction: column-reverse;

  .error {
    font-size: var(--font-size-xs);
    color: var(--color-error-500);
  }

  &:focus-visible {
    border-radius: 4px;
    outline: 3px solid var(--color-accent-200);
  }

  .label {
    color: var(--color-gray-700);
    transition: color 0.2s ease;
  }

  .errorLabel {
    color: var(--color-error-500);
  }

  &:hover .label {
    color: var(--color-accent-300);
  }

  &:hover .errorLabel {
    color: var(--color-error-500);
  }

  .trigger {
    all: unset;

    pointer-events: auto;

    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: space-between;

    color: var(--color-dark-500);

    background-color: transparent;

    &.fullWidthTrigger {
      border-bottom: 1px solid var(--color-gray-500);
    }

    &.errorTrigger {
      color: var(--color-error-500);
      border-bottom: 1px solid var(--color-error-500);
    }

    &:hover {
      cursor: pointer;
    }

    .icon {
      display: flex;
      align-items: center;
      transition: transform 0.3s ease;
    }

    &[data-state='open'].fullWidthTrigger {
      border-bottom: 1px solid var(--color-accent-500);
      color: var(--color-dark-500);
    }

    &[data-state='open'] + .label {
      color: var(--color-accent-500);
    }

    &[data-state='open'] .icon {
      transform: rotate(180deg);
    }

    &[data-disabled] {
      color: var(--color-gray-500);
    }

    &[data-disabled]:hover {
      cursor: auto;
    }

    &[data-disabled] + .label {
      color: var(--color-gray-500);
    }
  }
}

.disabled {
  cursor: auto;

  &:focus-visible {
    outline: none;
  }
}

.content {
  width: var(--radix-select-trigger-width);
  padding: 8px 0;
  background-color: var(--color-light-500);

  &[data-side='top'] {
    border-radius: 4px 4px 0 0;
    box-shadow: 0 2px 5px -3px rgb(0 0 0 / 20%),
    0 5px 10px 1px rgb(0 0 0 / 14%),
    0 1px 14px 2px rgb(0 0 0 / 12%);
  }

  &[data-side='bottom'] {
    border-radius: 0 0 4px 4px;
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%),
    0 8px 10px 1px rgb(0 0 0 / 14%),
    0 3px 14px 2px rgb(0 0 0 / 12%);
  }
}

.fullWidth {
  width: 100%;
}

