.editorWrapper {
    padding: 20px;
    border-radius: 8px;
}

.editorToolbar {
    margin-bottom: 20px;
}

.editorContainer {
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 10px;
}

.titleInput {
    margin-bottom: 20px;
    width: 40%;
}


  