.root {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px;
}

.active {
  color: #1a78c2;
}

button.headingSelect {
  min-width: 100px;
  padding: 2px 4px 2px 8px;
}

.selectItem {
  padding: 4px 8px;
}

button.textAlignSelect {
  padding: 2px 4px;
}

button.colorHeading {
  padding: 2px 4px;
}

div.colorItem {
  padding: 0;

  &:not(:last-child) {
    border-bottom: none;
  }

  &[data-highlighted],
  &[data-state='checked'] {
    background-color: transparent;
  }

  &:hover {
    background-color: transparent;
    border-radius: 4px;
    outline: 2px solid #2196f3;
  }
}
