@use 'src/shared/styles/mixin' as mixin;

.root {
  @include mixin.container;

  position: relative;
  height: 100vh;
  min-height: 100vh;

  .main {
    height: calc(100vh - 70px);
    margin-left: 250px;
    padding: 15px 0 0 15px;
  }
}

.navbar {
  position: fixed;

  overflow-x: hidden;

  width: 250px;
  height: 100%;

  // .border-right: solid 1px #858181;
}
