:root {
  --font-family-primary: 'Roboto', sans-serif;

  // line heights
  --line-height-s: 16px;
  --line-height-m: 24px;
  --line-height-l: 36px;

  // font sizes
  --font-size-xs: 12px; //12
  --font-size-s: 14px; //14
  --font-size-m: 16px; //16
  --font-size-l: 22px;
  --font-size-xl: 28px;
  --font-size-xxl: 30px; //26

  // font weights
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
}
