.header {
  display: flex;
  align-items: center;
  background: white; /* стандартный темный фон Ant Design */
  padding: 0 16px;
}

.logo {
  margin-right: 20px;
}

.menu {
  /* пусть занимает всё оставшееся пространство, чтобы прижать правый блок к краю */
  flex: 1;
  background: transparent;
  border: none; /* убираем бордюр */
}

.rightSide {
  /* просто блок, чтобы разместить Login/Dropdown справа */
  display: flex;
  align-items: center;
}

.menu {
  // Переопределяем стиль для ссылки внутри элемента меню
  .ant-menu-item a,
  .ant-menu-submenu-title {
    color: white !important;
  }
  
  // Если нужно изменить цвет активного пункта
  .ant-menu-item-selected a {
    color: white !important;
  }
}