.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: rgb(2, 22, 59); // Темный фон заголовка
  padding: 0 20px;
  height: 70px; // Увеличиваем высоту для большей значимости
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); // Мягкая тень под заголовком

  .logoContainer {
    display: flex;
    align-items: center;

    img {
      height: 50px; // Размер логотипа
      margin-right: 20px; // Отступ между логотипом и текстом
      filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5)); // Легкая тень для логотипа
    }
  }

  .title {
    color: #000000; // Белый цвет текста для контраста с темным фоном
    font-size: 26px; // Немного увеличенный размер шрифта
    font-weight: bold; // Жирный текст
    font-family: 'Roboto', sans-serif; // Пример современного шрифта
    margin-bottom: 0;
  
    span.primary {
      color: #4a90e2; // Акцентный цвет для выделения части названия
    }
  
    span.secondary {
      font-weight: lighter; // Легкий стиль для контраста
    }
  }

  .userMenu {
    float: right;
    display: flex;
    align-items: center;

    .userName {
      color: #000000; // Белый цвет для имени пользователя
      margin-left: 10px; // Отступ между аватаром и именем
      font-weight: 500;
      font-size: 18px;
    }
  }

  @media (max-width: 768px) {
    .title {
      font-size: 20px; // Уменьшаем размер шрифта на мобильных устройствах
    }

    .logoContainer img {
      height: 40px; // Уменьшаем размер логотипа на мобильных устройствах
    }
  }
}
