  
//   .container {
//     // max-width: 1200px;
//     width: 100%;
//     margin: 0 auto;
//     padding: 20px;
//   }
  
  h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
  }
  
//   .logTable {
//     width: 100%;
//     border-collapse: collapse;
//     margin: 20px 0;
//     font-size: 1rem;
//   }
  
//   .logTable th, td {
//     padding: 12px 15px;
//     border: 1px solid #ddd;
//     text-align: left;
//   }
  
//   .logTable th {
//     background-color: #f4f4f4;
//     color: #333;
//     font-weight: bold;
//   }
  
//   .logTable tbody tr:nth-child(even) {
//     background-color: #f9f9f9;
//   }
  
//   .logTable tbody tr:hover {
//     background-color: #f1f1f1;
//   }
  
//   .pagination button {
//     padding: 10px 15px;
//     margin: 0 5px;
//     border: none;
//     background-color: #333;
//     color: white;
//     cursor: pointer;
//     transition: background-color 0.3s ease;
//   }
  
//   .pagination button:disabled {
//     background-color: #888;
//     cursor: not-allowed;
//   }
  
//   .pagination button:not(:disabled):hover {
//     background-color: #555;
//   }
  
//   .pagination {
//     text-align: center;
//     margin-top: 20px;
//   }
  
//   .pagination button.active {
//     background-color: #555;
//   }

//   .paginationContainer {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   margin-top: 16px;
// }

// .limitSelect {
//   margin-left: 16px;
// }

// .spinner {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100%;
// }
  